<form (ngSubmit)="onSubmit()" #loginForm="ngForm" *ngIf="!loading">
  <div class="form-group login-input">
    <mat-form-field>
      <input matInput placeholder="Введите email" type="email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{ getErrorEmail() }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group login-input">
    <mat-form-field>
      <input matInput placeholder="Введите пароль" type="password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{ getErrorPassword() }}</mat-error>
    </mat-form-field>
  </div>
  <button mat-button type="submit">Отправить</button>
</form>
<mat-spinner *ngIf="loading"></mat-spinner>