<div class="container scope-form">
  <mat-tab-group>
    <mat-tab label="Просмотр" *ngIf="action !== 'create' && scope">
      <app-scope-card [scope]="scope" [hide_description]=false></app-scope-card>
    </mat-tab>
    <mat-tab label="Редактирование" *ngIf="action !== 'watch' && scope">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-form-field class="form-input">
          <input matInput placeholder="Название приложения" name="title" [(ngModel)]="scope.title">
        </mat-form-field>
        <mat-form-field class="form-input">
          <input matInput placeholder="Адрес авторизации" name="back_url" [(ngModel)]="scope.back_url">
        </mat-form-field>
        <div>
          <p-editor [placeholder]="'Описание приложения'" [(ngModel)]="scope.description" 
          [style]="{'height':'320px'}" name="editor"></p-editor>
        </div>
        <p-fileUpload mode="basic" auto="true" name="myfile[]" customUpload="true"
        (uploadHandler)="myUploader($event.files)"
        accept="image/*" maxFileSize="1000000" #fubauto></p-fileUpload>
        <button mat-raised-button color="primary" type="submit">Отправить</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
